h1 {
  text-align: center;
  padding: 30px;
  color: white;
  background-color: black;
}
h3 {
  font-size: 20px;
    text-align: center;
    color: white;
}
body{
  background-position: center;
  background: 100%;
}
.wrapper{
  background-image: url(../../../public/images/emp28.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}